.productInCart, .cartIcon {
  position: fixed;
  top: 0;
  right: 0;
}

.trackQuantity {
  color: white;
  position: fixed;
  top: -15px;
  font-size: 20px;
  right: 35px;
  z-index: 999;
}

.cartIcon {
  height: 10%;
  margin: 10px;
  cursor: pointer;
}

.productInCart {
  display: grid;
  align-items: center;
  justify-items: center;
  top: 100px;
  margin-right: 20px;
  border: solid 2px green;
  background: #000;
  height: 300px;
}

.productInCart li {
  margin: 10px 20px -10px 20px;
  padding: 10px;
}

